.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  margin: auto;
  z-index: 10;
}
.list {
  /*padding: 5rem;*/
  width: 100%;
  height: 100%;
  display: flex;
  list-style: none;
  gap: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.header {
  color: #fff;
  padding: 3rem;
  font-size: 3rem;
}
.showcase {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: 1rem 5rem;
  height: 100%;
  background: transparent;
  border-radius: 15px;
  animation: slide-down 0.5s ease-out forwards;
}

.watchlist_empty {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  height: 50vh;
  font-weight: 100;
  position: relative;
  bottom: 4rem;
  font-size: 2rem;
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-3rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 767px) {
  .wrapper {
    width: 100%;
    height: 100%;
  }
  .watchlist_empty {
    width: 100%;
    position: relative;
    bottom: 5rem;
    padding: 1rem;
    font-size: 2rem;
    text-align: center;
  }
  .showcase {
    width: 100%;
    height: 100%;
  }
}
