.navbar {
  position: fixed;
  z-index: 400;
  width: 100%;
  height: 60px;
  background: #282636;

  color: #fff;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 10rem;
}
.nav_control {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15rem;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-size: 2rem;
  font-family: Barlow;
}

.logo_span {
  color: #3b8d99;
}
.logo_svg {
  height: 100%;
}
.logo_svg:hover {
  transform: rotate(360deg);
  transition: all 0.5s ease;
}
.logo_btn {
  background: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
}
.watchlist {
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 2rem;
}
.watchlist_btn {
  font-size: 1.1rem;
  border: none;
  padding: 0.7rem 1.2rem;
  cursor: pointer;
  background: transparent;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.watchlist_btn > a {
  text-decoration: none;
  color: #fff;
}

.watchlist_badge {
  width: 35px;
  height: 35px;
  background-color: #3b8d99;
  padding: 0.5rem;
  display: flex;
  margin: 0 0.3rem;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  text-align: center;
}
.watchlist_lable {
  letter-spacing: 0.1rem;
}
.watchlist_lable:hover {
  color: #a5a4aa;
  transition: 0.2s ease;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
}
.search_box {
  margin: 1rem;
  font-size: 1.4rem;
  background: transparent;
  color: #f4f4f4;
  border: none;
}
input:focus,
textarea:focus,
select:focus {
  outline: none;
}
@media (max-width: 767px) {
  .navbar {
    justify-content: flex-end;
    align-items: center;
    gap: 0;
    height: 160px;
    flex-direction: column;
    position: relative;
    padding: 0 2rem;
    background: transparent;
  }
  .nav_control {
    height: 50px;
    gap: 0;
    justify-content: space-between;
    width: 100%;
    height: 40%;
    /*background: #3d3956;*/
  }
  .logo {
    font-size: 2rem;
    padding: 1rem;
    align-items: center;
  }
  .logo_svg {
    width: 50px;
    height: 50px;
    position: relative;
    top: 0.1rem;
  }
  .search {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 25px;
  }
  .search_box {
    font-size: 1rem;
    width: 100px;
    font-size: 0.9rem;
  }

  .watchlist {
    width: 120px;
    position: relative;
  }
  .watchlist_btn {
    padding: 0.5rem;
    width: 150px;
    flex-direction: row-reverse;
  }
  .watchlist_badge {
    width: 40px;
    height: 40px;

    background-color: rgba(0, 0, 0, 0.2);
  }
  .logo_span {
    color: #fff;
  }
}
