.wave {
  position: relative;
  top: 3.7rem;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  /*position: fixed;*/
}

.wave svg {
  position: relative;
  display: block;
  width: calc(184% + 1.3px);
  height: 100px;
}

.wave .shape_fill {
  fill: #282636;
}
